#logo {
    height: 175px;
    width:auto;
}


body {
    font-family: 'Oswald', sans-serif,;

}

headimg {

}


#cba {
    height:400px;
    width: auto;
}

#pad {
    padding-top: 10px;
}
.sss {
    padding-top: 25px;
    padding-bottom: 25px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.oof {
    height: 300px;
    width: auto;

}

.bigoof {
    height: 900px;
    width: auto;
}

